
    header{

        width: 100%;
        background: url("../img/10.jpg") #281a0c;
        background-size: cover;
        background-position: center 0;
        background-attachment: fixed;
        
        .contenedor{
            position: relative;
            height: 500px;
        }
    
        .menu{
            width: 100%;
            text-align: right;
            
            a{
                color: white;
                font-size: 20px;
                font-weight: 20px;
                display: inline-block;
                margin: 40px 20px;
                text-decoration: none;
                position: relative;
                &:hover{
                    text-decoration: underline;
                }
            }
        }
    
        .textos{
            width: 100%;
            color: white;
            position: absolute;
            top: 50%;
            margin-top: -52px;
    
            .nombre{
                font-size: 50px;
                font-weight: bolder;            
            }
    
            h3{
                font-weight:bolder;
                font-size: 25px;
                font-style: italic;
    
            }
        }
    
        
    
    }   

    


